---
---

@import "{{ site.theme }}";

/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}

video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
    
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1; /* To place the video behind the text */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    display: flex; /* Use flexbox to align items side by side */
    align-items: center; /* Center items vertically */
    flex-direction: column; /* Stack the image on top of the text */
}

.profile-picture {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Create a circular profile picture */
    overflow: hidden; /* Ensure the image stays within the circular boundary */
    margin-bottom: 20px; /* Add some space between the picture and text */
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-content {
    text-align: center; /* Center the text relative to the profile picture */
}

.text-content h1 {
    font-size: 36px;
    margin-bottom: 5px; /* Add some space below the heading */
}

.text-content p {
    font-size: 18px;
}

.social-icons {
    position: fixed; /* Keep the social icons fixed in the top right corner */
    top: 20px; /* Adjust the vertical position of the social icons */
    right: 20px; /* Adjust the horizontal position of the social icons */
    display: flex;
    flex-direction: column;
}

.social-icons a {
    display: block;
    margin-bottom: 10px; /* Add some space between the social media icons */
    opacity: 0.5; /* Set the initial opacity */
    transition: opacity 0.3s ease; /* Add a transition for the hover effect */
}

.social-icons a:hover {
    opacity: 1; /* Increase opacity on hover */
}

.social-icons img {
    width: 50px; /* Adjust the size of the social media icons */
    height: 50px;
    object-fit: contain; /* Use 'contain' to preserve aspect ratio and fit within the container */
    object-position: center; /* Center the image within the container */
}

.page-icons {
    position: fixed; /* Keep the social icons fixed in the top right corner */
    top: 20px; /* Adjust the vertical position of the social icons */
    left: 20px; /* Adjust the horizontal position of the social icons */
    display: flex;
    flex-direction: column;
}

.page-icons a {
    display: block;
    margin-bottom: 10px; /* Add some space between the social media icons */
    opacity: 0.5; /* Set the initial opacity */
    transition: opacity 0.3s ease; /* Add a transition for the hover effect */
}

.page-icons a:hover {
    opacity: 1; /* Increase opacity on hover */
}

.page-icons i {
    width: 50px; /* Adjust the size of the social media icons */
    height: 50px;
    object-fit: contain; /* Use 'contain' to preserve aspect ratio and fit within the container */
    object-position: center; /* Center the image within the container */
}

/* Tooltip styles */
.tooltip {
    position: absolute;
    top: -30px; /* Adjust the distance of the tooltip from the icon */
    left: 50%; /* Center the tooltip horizontally */
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    display: none;
}

/* CSS styles for the canvas overlay */
#canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  z-index: 1;
}
