---
---

@import "{{ site.theme }}";

/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.video-container {
    position: relative;
    height: 100%;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* To place the video behind the text */
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
    display: flex; /* Use flexbox to align items side by side */
    align-items: center; /* Center items vertically */
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Create a circular profile picture */
    overflow: hidden; /* Ensure the image stays within the circular boundary */
    margin-right: 20px; /* Add some space between the picture and text */
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-content {
    text-align: left; /* Left-align the text relative to the profile picture */
}

.text-content h1 {
    font-size: 36px;
}

.text-content p {
    font-size: 18px;
}

.social-icons {
    position: fixed; /* Keep the social icons fixed in the top right corner */
    top: 20px; /* Adjust the vertical position of the social icons */
    right: 20px; /* Adjust the horizontal position of the social icons */
    display: flex;
    flex-direction: column;
}

.social-icons a {
    display: block;
    margin-bottom: 10px; /* Add some space between the social media icons */
    opacity: 0.5; /* Set the initial opacity */
    transition: opacity 0.3s ease; /* Add a transition for the hover effect */
}

.social-icons a:hover {
    opacity: 1; /* Increase opacity on hover */
}

.social-icons img {
    width: 50px; /* Adjust the size of the social media icons */
    height: 50px;
    object-fit: contain; /* Use 'contain' to preserve aspect ratio and fit within the container */
    object-position: center; /* Center the image within the container */
}

.about-me-section {
    padding: 40px;
}

.navigation-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background for the navigation bar */
}

.navigation-bar a {
    color: white;
    padding: 10px;
    font-size: 24px;
    text-decoration: none;
    margin: 0 5px;
}

.navigation-bar a:hover {
    color: #ffcc00; /* Change the color when hovering over the icons */
}
